<ion-view view-title="Playlists">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-person" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" ng-change="search()" autocorrect="off">
            <button class="button button-clear" ng-click="clearSearch()">X</button>
          </label>
    </ion-header-bar>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            <img class="playlist_img_icon" src="img/{{playlist.image }}"/>
            {{playlist.title}}
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
