<ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="#" target="_blank">
              Learn Ionic
            </a>
            <a class="item" href="#" target="_blank">
              About Us
            </a>
            <a class="item" href="#" target="_blank">
              Nagarro
            </a>
            <a class="item" href="#" target="_blank">
              Gurgaon
            </a>
            <a class="item" href="#" target="_blank">
              COE Mobility
            </a>
          </div>
        </ion-content>
</ion-popover-view>